
:root {
  --full-width: 1440px;
  --bg-color-dark: #1F2025;
  --bg-color-gray: #464646;
  --blue-color: #205BF1;
  --hover-blue-color: #009cb8;
  --white-color: #ffffff;
  --weight-700: 700;
  --weight-900: 900;
  --outer-margin: 9.375%;
}

body {
  background-color: var(--bg-color-gray);
  font-family: 'Urbanist', sans-serif;
  color: var(--white-color);
}

.wrapper {
  position: relative;
  width: 100vw;
  max-width: var(--full-width);
  background-image: url('../img/bg.jpg');
  border-top: 0.1px solid transparent;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 20px 20px var(--bg-color-dark);
}

.main {
  width: 100%;
}

.btn {
  font-weight: var(--weight-700);
  background-color: var(--blue-color);
  box-shadow: 0px 5px 15px #205BF133;
  padding: 10px;
  border: 1px solid transparent;
  transition: 200ms ease-in-out;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
}

.header .btn {
  padding: 16px 20px;
  margin-left:40px;
}

.main .btn {
  padding: 20px 30px;
}

.btn__video {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: none;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.btn__video::before {
  content:"";
  background: url('../icons/player-play.svg');
  height: 24px;
  width: 24px;
  margin-right: 15px;
  display: inline-flex;
}

.btn:hover {
  border-color: var(--hover-blue-color);
  background: transparent;
  box-shadow: 0px 10px 20px #009cb833;
}

.btn:active {
  transform: scale(95%);
}

.decor1 {
  position: absolute;
  left: 384.44px;
  z-index: 0;
}

.header {
  display: flex;
  position: relative;
  margin: 30px var(--outer-margin);
  align-items: center;
}

.header__logo {
  margin-right: 10px;
}

.header__menu {
  display: flex;
  list-style: none;
  gap: 41px;
  cursor: pointer;
}

.header__menu li {
  transition: 200ms ease-in-out;
  position: relative;
  padding-bottom: 5px;
}

.header__menu li::after {
  content: "";
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin: auto;
  background: #ffffff;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s;
}

.header__menu li:hover::after {
  transform: scale3d(1, 1, 1);
}

.user-block {
  display: flex;
  flex-grow: 1;
  justify-content: end;
  align-items: center;
  gap: 28px;
}

.lang-wrap::after {
  content: url('../icons/inline-divider.svg');
  margin-left: 25px;
}

.section {
  position: relative;
}

.hero {
  margin-top: 140px;
  display: flex;
  width: calc(100% - var(--outer-margin));
  margin-left: var(--outer-margin);
}

.h1 {
  font-weight: 900;
  font-size: 78px;
  line-height: 94px;
}

.h3 {
  margin-top: 30px;
  font-size: 20px;
  line-height: 30px;
}

.h3__regular {
  font-weight: 400;
}

.hero__btn-wrap {
  display: flex;
  gap: 40px;
  margin-top: 60px;
}

.hero__content-wrap {
  width: 670px;
  flex-shrink: 0;
}

.screenshots {
  position: relative;
}

.screenshots img {
  position: absolute;
}

.screen1 {
  top: -89px;
  left: 40px;
}

.screen2 {
  top: 20px;
  left: 133px;
}
.screen3 {
  top: 210px;
  left: -78px;
}

.screen4 {
  top: 280px;
  left: 404px;
}

@media (max-width: 1200px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero__content-wrap {
    text-align: center;
  }

  .hero__btn-wrap {
    justify-content: center;
  }

  .screenshots {
    width: 100%;
    margin-top: 9.1%;
    height: 43vw;
  }
  .screen1 {
    left: 28%;
  }
  .screen2 {
    top: 50px;
    left: 23%;
  }

  .screen3 {
    top: -27px;
    left: -193px;
  }

  .screen4 {
    top: -20px;
    left: calc(100% - 230px);    
  }
}
.hidden {
  display: none;
}

.customers {
  margin: 200px var(--outer-margin) 112px;
}

.customers-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 102px);
  gap:30px;
  margin-top: 40px;
  list-style: none;
  padding-left: 0;
}

.customers-block li{
  background: rgba(255, 255, 255, 0.02);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


@media (max-width: 1200px){
  .customers {
    margin: 0 30px;
  }

}

.info-screen-wrap {
  position: relative;
  z-index: 1;
}

.dashboard-screen {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.decor2 {
  position: absolute;
  bottom: -50px;
}

.section__h2 {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.section__description {
  font-size: 46px;
  line-height: 55px;
}

.feature {
  display: flex;
  margin-left:  var(--outer-margin);
  margin-right: var(--outer-margin);
  justify-content: space-between;
  align-items: center;
}

.feature1 {
  margin-top: 83px;
}

.text-accent__pink {
  color: #f12052;
}

.feature__content-wrapper {
  width: 570px;
}

.section__description-small {
  font-size: 36px;
  line-height: 46px;
  width: 360px;
  display: inline-block;
}

.h2-analytics {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 20px;
}

.h2-analytics::before {
  content: "";
  display: inline-block;
  width: 36px;
  height: 36px;
  background-image: url('../icons/analytics.svg');
}

@media (max-width: 1200px){
  .feature1 img {
    width: 35%;
  }
}

@media (max-width: 850px){
  .feature1 {
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
  }

  .feature1 img {
    width: 200px;
  }
}

.feature2 {
  margin-top: 55px;
  margin-right: 18px;
  justify-content: space-between;
}

.feature2-content {
  width: 410px;
  flex-shrink: 0;
  margin-top: -38px;
}

.h3-analytics {
  font-size: 16px;
  line-height: 24px;
}

.task-screen {
  width: 67.5%;
}

@media (max-width: 1200px){
  .feature2 {
    margin: 120px -10% 0 30px;
    gap: 50px;
  }

  .feature2-content {
    width: min-content;
  }
}

.feature3 {
  flex-direction: column;
  margin-top: 12px;
}

.text-accent__blue {
  color: #205BF1;
}

.section__header-wrapper {
  width: 570px;
  align-self: flex-start;
}

.feature3-content-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 29px;
}

.advant {
  width: 435px;
  list-style: none;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 38px;
}

.advant_point {
  border-left: 2px solid  rgba(255, 255, 255, 0.1);
  padding-left: 28px;
}

.advant_point:first-child {
  border-color: #205BF1;
}

.advant_point strong {
  font-size: 20px;
  line-height: 30px;
}

.advant_point p {
  line-height: 24px;
}

.cta {
  margin-top: 130px;
  padding: 0 45px;
}

.splash3 {
  position:  absolute;
  right: 0;
  top: 0;
}

.cta__content-wrapper {
  position: relative;
  padding: 140px 440px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
}

.cta-decription {
  font-size: 46px;
  line-height: 55px;
}

.h3-cta {
  line-height: 24px;
  font-size: 16px;
  margin-top: 20px;
}

.btn__access {
  margin-top: 25px;
  display: inline-flex;
  gap: 30px;
  align-items: center;
}

.btn__access::after {
  content: "";
  display: inline-block;
  width: 25px;
  height: 24px;
  background: url('../icons/access.svg');
}

.divider {
  content: url('../icons/divider.svg');
  margin: 140px auto;
}

.graph {
  text-align: center;
}

.graph::after {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  background: #ffffff;
  bottom: 0;
  left: 0;
  height: 252px;
  width: 100%;
}

.graph__content-wrapper {
  position: relative;
  z-index: 1;
  width: 780px;
  margin: 0 auto;
}

.img-graph {
  position: relative;
  display: block;
  z-index: 1;
  width: 81%;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -46px;
}

.text-accent__yellow {
  color:#E9900C;
}

.divider2 {
  background-color: #ffffff;
  margin: 0;
  width: 100%;
  height: 78px;
  position: relative;
  text-align: center;
}

.divider2::before {
  content: url('../icons/divider2.svg');
  display: inline-block;
  position: absolute;
  top: 15px;
  margin-left: -25px;
}

.read {
  padding: 52px var(--outer-margin) 200px;
  background: #ffffff;
  color: #1F2025;
}

.h2-read {
  font-size: 46px;
  line-height: 55px;

}

.read__content-wrapper {
  display: flex;
  margin-top: 85px;
  gap: 30px;
}

.resources-link {
  position: absolute;
  top: 115px;
  right: var(--outer-margin);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #205BF1;
  padding-right: 15px;
}

.article-content-wrap {
  margin-top: 23px;
}

.article-type {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 12px;
  line-height: 16px;
}

.type-video {
  background: url("../icons/video.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 28px;
}

.article__h3 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 15px;
}

.type-article {
  background: url("../icons/book.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 28px;
}

.type-blog {
  background: url("../icons/news.svg");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 28px;
}

.article-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #205BF1;
}

.footer {
  position: relative;
  background-color: #ffffff;
  background-image: url('../img/noise.png');
  border-top: 1px solid rgba(31, 32, 37, 0.05);
}

.footer::before {
  content: url("../img/footer-splash.png");
  position: absolute;
  top: 0;
  right: 0;
}

.footer-wrapper {
  color: #1F2025;
  margin: 50px var(--outer-margin) 0;
}

.footer-menu {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}

.menu-col {
  width: 270px;
  flex-shrink: 0;
}

.h3-footer {
  font-size: 20px;
  line-height: 30px;
  padding-left: 0;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  padding-top: 1px;
  padding-left: 0;
  font-size: 16px;
  line-height: 24px;
}

.footer__bottom {
  margin-top: 101px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer__left-side {
  font-size: 14px;
  line-height: 20px;
}

.footer__left-side p:first-child {
  font-weight: 700;
}

.footer__icons {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}